*{
    box-sizing: border-box;
}
img {
    width: 100%;
}
h1 {
	font-size: 4.5em;
    text-align: center;
}

button {
	font-size: 30px;
	width: 140px;
	height: 60px;
	border-radius: 5px;
}

#startPause {
   	background-color: green;
	border-color: green;
}

/*#reset {
	background-color: gray;
	border-color: gray;
}
#controls {
	margin-left: 7px;
	width: 310px;
	height:70px;
}